/*Comprobar referencias, conexion*/
body{
	background-color: #9FDBF2;
	font-family: "Verdana";
}

ul #lista{
	margin: 5px;
	list-style-type: none;
	text-align: center;
	direction: rtl;
}

li #nivel_1{
	font:bold 12px "Trebuchet MS";
}
ul #sublista{
	font:italic;
	font-size: 10px;
}
li #nivel_2{
	font:italic;
	font-size: 10px;
}