/    font-family:"Lucida Grande", arial, sans-serif;
    background:#F3F3F3;
}
 
ul{
    margin:0;
    padding:0;
}
 
li{
    width:100px;
    height:50px;
    float:left;
    color:#191919;
    text-align:center;
    overflow:hidden;
}
 
a{
    color:#FFF;
    text-decoration:none;
}
 
p{
    padding:0px 5px;
}
 
    .subtext{
        padding-top:15px;
    }
 
/*Menu Color Classes*/
.home{
	background:#6AA63B;
	margin-right: 2px;
}
img{
	margin-top: 10px;
}
.sub{
	background:#FBC700;
	margin-right: 2px;
}
.consult{
	background:#D52100;
	margin-right: 2px;
}
.profile{
	background:#0292C0;
	margin-right: 2px;	
}
